(authelia_forward_auth) {
	forward_auth authelia:9091 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
}

(logout) {
	handle /logout {
		redir https://auth.hopsakee.top/logout 302
	}
}

auth.hopsakee.top {
	reverse_proxy authelia:9091
}

infoflow.hopsakee.top {
	import logout
	import authelia_forward_auth
	reverse_proxy infoflow:5001

	handle_errors 403 503 {
		respond "Access denied" 403
	}
}

govchat.hopsakee.top {
	import logout
	import authelia_forward_auth
	reverse_proxy govchat:8080

	handle_errors 403 503 {
		respond "Access denied" 403
	}
}

datalab-knowledge.hopsakee.top {
	import logout
	import authelia_forward_auth
    	reverse_proxy pkw-web:8080

	handle_errors 403 503 {
		respond "Access denied" 403
    }
}
